".github" export-ignore
".vscode" export-ignore
"Sample Project" export-ignore
"Lync/node_modules" export-ignore
"Lync/RobloxPluginSource" export-ignore
"Lync/sourcemap" export-ignore
"Lync/validator" export-ignore
"Lync/index.js" export-ignore
"Lync/luneBuildTemplate.luau" export-ignore
"Lync/output.js" export-ignore
"Lync/package-lock.json" export-ignore
"Lync/package.json" export-ignore
"Lync/Plugin.rbxm" export-ignore
".gitattributes" export-ignore
".gitignore" export-ignore
"Compile_Lync.lua" export-ignore
"Compile_Plugin.bat" export-ignore
"README.md" export-ignore
"selene.toml" export-ignore
"sourcemap.json" export-ignore
